<% provide(:title, "Contact") %>
  <!DOCTYPE html>
  <html>
    <head>
      <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
      <%= yield %>
      <h1>StaticPages#contact</h1>
      <p>Find me in app/views/static_pages/contact.html.erb</p>
    </body>
  </html>
